.post-cnt {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
}


.scrollbar-hide-comment::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: #1e304c;
        border-radius: 10px;
}

.scrollbar-hide-comment::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background: #314f5f6e;
}